# Gradle caches and build outputs
/.gradle/
/.gradle-home/
/build/
/bin/
/run/
/buildSrc/.gradle/
/buildSrc/build/
/common/.gradle/
/common/build/
/common/run/
/fabric/.gradle/
/fabric/build/
/fabric/run/
/neoforge/.gradle/
/neoforge/build/
/neoforge/run/

# IDE / editor files
*.iml
.idea/
# .vscode/ Provides useful launch garbage
out/
*.class

# Local dependencies downloaded during builds
libs/

# OS files
.DS_Store

# Logs and crash reports
logs/
**/logs/
**/crash-reports/
*.log
